/*layout.css*/
/*
font-family: 'NanumBarunGothicExtraLight';
font-family: 'NanumBarunGothicLight';
font-family: 'NanumBarunGothic';
font-family: 'NanumBarunGothicBold';
*/
/* common */
body {font-size:14px;font-family:'NanumBarunGothic',Arial,sans-serif;letter-spacing:-1px;overflow-x:hidden;}
a {text-decoration:none;}

@font-face{
    font-family:CJ_ONLYONE_Medium;
    src:url(../font/CJ_ONLYONE_Medium.ttf);
}

.mob, .mobBtn, .mobBtn_close {display:none;}

/* 1. MOBILE : ~767px */
@media screen and (max-width:767px) {
    .mob, .mobBtn, .mobBtn_close {display:block;}

    body.on {position:fixed;left:0;top:0;width:100%;height:100%;overflow:hidden;}
    div.bg.on {z-index:90;position:absolute;top:0;left:0;width:100%;height:100%;background:rgba(0, 0, 0, 0.8);}


    /* layout */
    #header {position:relative;width:100%;height:54px;}
    div.header_wrap {position:absolute;left:0;width:100%;height:54px;background:#222;}
        .header_inner {position:relative;width:100%;height:54px;margin:0 auto;}
            form.srch {position:absolute;left:0;top:54px;width:100%;}
            .banner {z-index:30;position:relative;width:100%;height:550px;overflow:hidden;}
                .banner_frame {width:600%;position:relative;left:0;}
    #container {width:100%;}
        .content1 {width:100%;background:#fff;}
        .content2 {position:relative;width:100%;height:3900px;background:url(../images/bg_hotcontent.png) no-repeat 0 100%;background-size:cover;}
            .content2_inner {z-index:10;position:relative;width:100%;height:100%;margin:0 auto;padding-top:70px;}
            .circle_wrap {z-index:1;position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;}
        .content3 {width:100%;padding:70px 0 80px;}
            .content3_inner {width:100%;margin:0 auto;}
    #footer {position:relative;width:100%;height:240px;background:#222;color:#777;text-align:center;}
        .footer_inner {width:100%;margin:0 auto;padding-top:40px;}
}

/* 2. 태블릿 : 768px ~ 1060px */
@media screen and (min-width:768px) and (max-width:1060px){
    /* layout */
    #header {z-index:40;position:relative;width:100%;height:120px;}
    div.header_wrap {position:absolute;left:0;width:100%;height:120px;background:url(../images/bg_header.png) repeat-x 0 0;}
        .header_inner {position:relative;width:984px;height:120px;margin:0 auto;}
            form.srch {position:absolute;left:0;top:120px;width:100%;}
            .banner {z-index:30;position:relative;width:100%;min-width:984px;height:550px;overflow:hidden;}
                .banner_frame {width:600%;position:relative;left:0;}
    #container {width:100%;}
        .content1 {width:100%;background:#fff;}
        .content2 {position:relative;width:100%;height:2630px;background:url(../images/bg_hotcontent.png) no-repeat 0 100%;background-size:cover;}
            .content2_inner {z-index:10;position:relative;width:984px;min-width:984px;height:100%;margin:0 auto;padding-top:70px;}
            .circle_wrap {z-index:1;position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;}
        .content3 {width:100%;padding:70px 0 80px;}
            .content3_inner {width:984px;margin:0 auto;}
    #footer {position:relative;width:100%;height:240px;background:#222;color:#777;text-align:center;}
        .footer_inner {width:984px;margin:0 auto;padding-top:40px;}
}

/* 3. PC : 1060px ~ */
@media screen and (min-width:1060px){
    /* layout */
    #header {z-index:40;position:relative;width:100%;height:120px;}
        div.header_wrap {position:absolute;left:0;width:100%;height:120px;background:url(../images/bg_header.png) repeat-x 0 0;
            transition:height 0.3s linear 0s;/* 주메뉴 hover animate */
        }
            .header_inner {position:relative;width:1060px;height:120px;margin:0 auto;}
        form.srch {position:absolute;left:0;top:120px;width:100%;}
    .banner {z-index:30;position:relative;width:100%;min-width:1024px;height:550px;overflow:hidden;}
        .banner_frame {width:600%;position:relative;left:0;}
    #container {width:100%;}
        .content1 {width:100%;background:#fff;}
        .content2 {position:relative;width:100%;height:2140px;background:url(../images/bg_hotcontent.png) no-repeat 0 100%;background-size:cover;}
            .content2_inner {z-index:10;position:relative;width:1060px;min-width:1060px;height:100%;margin:0 auto;padding-top:70px;}
            .circle_wrap {z-index:1;position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;}
        .content3 {width:100%;padding:70px 0 80px;}
            .content3_inner {width:1060px;margin:0 auto;}
    #footer {position:relative;;width:100%;height:240px;background:#222;color:#777;text-align:center;}
        .footer_inner {width:1060px;margin:0 auto;padding-top:40px;}
}
